body{
    font-family: 'Roboto', sans-serif !important;
}

section{
    height: 100vh;
}

.burguer{
    background-image: url(../imgFED/logo.png);  
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover;  */
}

.bg-soft {
    
   /*  #f8f9fa */
    background-color: #F7F7F7;
}

.overlay {
    /*position: fixed;  Sit on top of the page content */
    width: 100vw;
    height: 100vh;
/*     background-color: rgba(255, 255, 255, 0.5);
 */    /*   z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.nav-dark {
    background-color: #7B7162;
     background-color: rgba(162, 162, 162, 0.65)!important;
 }

.btn {
    font-weight: 900;
/* background-color: #7B7162; */
}

/* .btn-dark:hover, .finish-dark:hover { */
/* .og-hover:hover {
    background-color: #F08F58 !important;
    border-color: #F08F58 !important;
    color: black !important;
} */

.og-hover:hover {
    background-color: #60DE5D !important;
    border-color: #60DE5D !important;
    color: black !important;
}

.btn-secondary:hover {
    background-color: #60DE5D !important;
    border-color: #60DE5D !important;
}

/* .btn-drinks {
    max-height: 1rem;
    font-weight: 900;
} */
.dropdown-menu.show {
    display: inherit !important;
}

.dropdown-menu {
margin: 1.2rem 0 0 !important;
border-radius: 1.25rem !important;
background-color: #f8f9fa !important;
}

.dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #212529;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
        padding: .25rem .7rem !important;
        border-radius: 1.25rem;

}

/* .dropdown-item:hover {*/
/*     box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);*/    
    /*    border-radius: 1.25rem;
} */

.double {
    width: 90%;
}

.card {
    float: right;
    width: 22rem;
    height: 35rem;
    margin-right: 2rem;
    margin-top: 3rem;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
    border-radius: 10px;
}

.card-body {
    background-color: #f8f9fa;
}

.box-header{
    border-radius: 0 !important;
}

.footer-dark {
 background-color: #121416a9!important; 
}

.finish-dark {
    color: #fff !important;
    background-color: #191c1f !important;
    border-color: #191c1f !important;
}

.menu-icon {
    background: #575757;
    width: 144px;
    height: 144px;
    border-radius: 20px;
    margin-right: 1.5rem;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);
    margin-left: 1.5rem;
    margin-top: 2rem;
    color: white;
}

.box-one{
    background: #E6E6E6;  
}

.box-two{
   background: #C4C4C4;
}

.box-three{
   background: #999999;
}

.card-img-bottom {
    width: unset !important;
}

.dropdown-toggle::after {
    vertical-align: 2.255em !important;

}

.modal-footer {
    justify-content: center !important;
}

.modal-title {
    margin-bottom: 1rem !important;
    margin-top: 2.5em !important;
    font-weight: bold !important;
    margin-left: 2rem;
}

.form-control-lg {
    font-size: 1.5rem !important;
    border-radius: .8rem !important;
    width: 123% !important;
}

.extras {
    margin-top: 1.8rem;
    margin-right: .7rem;
}
