body {
    font-family: 'Roboto', sans-serif !important;
}
    
.form-in {
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../imgFED/imagebackground.png);
}

.img-log {
    margin: 10px auto;
    display: -webkit-inline-box;
    margin-left: 12%;
    width: 25%;
    margin-top: 10%;
}

.text-welcome {
    display: inline-block;
    vertical-align: text-top;
    margin-left: 10%;
    margin-top: 23px;
}

.box-btn-welcome {
    margin-top: 23%;
}

.box-welcome {
    background: rgba(241, 239, 239, 0.8);
    width: 64%;
    height: 100%;
}

p {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.6rem;
}

.btn-login {
    width: 51vw;
    height: 9vh;
    left: 43%;
    display: block !important;
    margin-left: 9%;
    margin-top: 5%;
}

.box-password {
    background: rgba(230, 230, 230, 0.5);
    width: 36%;
    height: 100%;

}

.h1 {
    font-size: 2rem;
    font-weight: 600;
}


.text-welcome h2 {
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 3rem;
}

p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 3rem;
}

.btn-login {
    width: 51vw;
    height: 9vh;
    left: 43%;
    display: block !important;
    margin-left: 9%;
    margin-top: 5%;
}

.box-password {
    background: rgba(230, 230, 230, 0.5);
    width: 36%;
    height: 100%;

} 

.box-center {
    left: 15%;
    text-align: center;
    margin-top: 30%;
}

.input-password {
    background: #FFFFFF;
    border: 1px solid #1C1C1C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 226px;
    height: 66px;
    margin-top: 10%;
}

.box-buttons {
    margin-top: 8%;
}

.btn-number {
    width: 73px;
    height: 50px;
    margin: 1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: xx-large;
}

.btn-valid-password {
    background: #23AE53;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 4px 5px rgba(0, 0, 0, 0.12),
        0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 7%;
}


section {
    height: 100vh;
}

.input-password {
    background: #FFFFFF;
    border: 1px solid #1C1C1C;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 226px;
    height: 66px;
    margin-top: 10%;
}

.box-buttons {
    margin-top: 8%;
}

.btn-number {
    width: 73px;
    height: 50px;
    margin: 1px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: xx-large;
}

.btn-valid-password {
    background: #23AE53;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14),
        0px 4px 5px rgba(0, 0, 0, 0.12),
        0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin-top: 7%;
}

section {
    height: 100vh;
} */

.burguer {
    background-image: url(../imgFED/imagebackground.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slate {
    background-image: url(../imgFED/slate.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pg {
    background-image: url(../imgFED/PB.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.vb {
    background-image: url(../imgFED/vbnapa.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-soft {
    /*  #f8f9fa */
    background-color: #F7F7F7;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.transparent {
    border-color: transparent !important;
    /* background-color: #191c1f !important; */
}

.nav-dark {
    background-color: #7B7162;
    background-color: rgba(162, 162, 162, 0.65) !important;
}

.btn {
    font-weight: 900;
    /* background-color: #7B7162; */
}

.save {
    margin-left: 12rem;
    margin-top: 2rem;
}

/* .btn-dark:hover, .finish-dark:hover { */
/* .og-hover:hover {
    background-color: #F08F58 !important;
    border-color: #F08F58 !important;
    color: black !important;
} */

.og-hover:hover {
    background-color: #60DE5D !important;
    border-color: #60DE5D !important;
    color: black !important;
}

.btn-secondary:hover {
    background-color: #60DE5D !important;
    border-color: #60DE5D !important;
}

.dropdown-menu.show {
    display: inherit !important;
}

.dropdown-menu {
    margin: 1.2rem 0 0 !important;
    border-radius: 1.25rem !important;
    background-color: #f8f9fa !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    padding: .25rem .7rem !important;
    border-radius: 1.25rem;
}

/* .dropdown-item:hover {*/
/*     box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);*/
/*    border-radius: 1.25rem;
} */

.double {
    width: 19%;
}

.card {
    float: right;
    width: 22rem;
    height: 35rem;
    margin-right: 2rem;
    margin-top: 3rem;
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
    border-radius: 10px;
}

.card-body {
    background-color: #f8f9fa;
    overflow-y: scroll;
}

.box-header {
    border-radius: 0 !important;
}

.footer-dark {
    background-color: #121416a9 !important;
}

.finish-dark {
    color: #fff !important;
    background-color: #191c1f !important;
    border-color: #191c1f !important;
}

.menu-icon {
    background: #575757;
    width: 144px;
    height: 144px;
    border-radius: 20px;
    margin-right: 1.5rem;
    box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.18), 0px 6px 5px rgba(0, 0, 0, 0.24);
    margin-left: 1.5rem;
    margin-top: 2rem;
    color: white;
}

.box-one {
    background: #E6E6E6;
}

.box-two {
    background: #C4C4C4;
}

.box-three {
    background: #999999;
}

.card-img-bottom {
    width: unset !important;
}

.dropdown-toggle::after {
    vertical-align: 2.255em !important;

}

.modal-footer {
    justify-content: center !important;
}

.modal-title {
    margin-bottom: 1rem !important;
    margin-top: 2.5em !important;
    font-weight: bold !important;
    margin-left: 2rem;
}

.form-control-lg {
    font-size: 1.5rem !important;
    border-radius: .8rem !important;
    width: 123% !important;
}

.extras {
    margin-top: 1.8rem;
    margin-right: .7rem;
}

.badge:hover {
    background-color: #60DE5D;
    border-color: #60DE5D;
    color: black;
}

.order-kitchen {
    flex-direction: column;
}

.quantity {
    width: 7.4rem !important;
}
.td-quantity {
    padding-left: .2rem !important; 
}
.td-icon {
    padding: 0.48rem !important; 
}

.confirmation{
    padding: 0 !important;
    margin: 0 !important;
}

.card {
    width: 25.5rem;
}

.card-body{
    padding: .08rem !important;
}

.product{
    padding-right: 0rem !important; 
    padding-left: .4rem !important; 
}
.total {
    background-color: rgba(0, 0, 0, 0.137); 
    margin-bottom: 0 !important;
    font-size: 1.2rem;

}