.large {
    width: 100%;
}

.btn:hover {
    background-color: #F08F58;
}

.card {
 /*   position: absolute;*/
 float: right;
    width: 25rem;
    height: 35rem;
/*     left: 50rem;
    top: .5rem; */
    background: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.85;
    border-radius: 10px;
}

.menu-header{
    width: 20rem;
    margin-right: 5rem;
    margin-left: 5rem;
}


